common/xml-parser/src/test/resources/test-schema/test-item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://test.knubisoft.com/test-item"
           targetNamespace="http://test.knubisoft.com/test-item"
           elementFormDefault="qualified">

    <xs:element name="testItem" type="tns:TestItemType"/>

    <xs:complexType name="TestItemType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="value" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
