engine/src/main/resources/schema/sqlDatabase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/scenario"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/scenario"
          elementFormDefault="qualified"
          xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0">

    <x:include schemaLocation="shared.xsd"/>

    <x:complexType name="sqlDatabase">
        <x:complexContent>
            <x:extension base="tns:abstractCommand">
                <x:sequence>
                    <x:element name="query" type="x:string" minOccurs="1" maxOccurs="unbounded"/>
                </x:sequence>
                <x:attribute name="alias" type="tns:aliasPattern" default="DEFAULT"/>
                <x:attribute name="file" type="tns:expectedPattern" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

</x:schema>
