engine/src/test/resources/subs/schema-professional/ai-integration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/global-config"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/global-config"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared-config.xsd"/>

    <x:complexType name="aiIntegration">
        <x:choice maxOccurs="unbounded">
            <x:element name="ai" type="tns:ai" maxOccurs="unbounded"/>
        </x:choice>
    </x:complexType>

    <x:complexType name="ai">
        <x:complexContent>
            <x:extension base="tns:integration">
                <x:sequence>
                    <x:element name="apiKey" type="tns:nonEmptyString"/>
                    <x:element name="modelName" type="tns:nonEmptyString"/>
                    <x:element name="baseUrl" type="tns:nonEmptyString"/>
                </x:sequence>
            </x:extension>
        </x:complexContent>
    </x:complexType>

</x:schema>
