src/test/resources/schema/tags.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/cott/testing/model/scenario"
          xmlns:tns="http://www.knubisoft.com/cott/testing/model/scenario"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared.xsd"/>

    <x:complexType name="tags">
        <x:sequence>
            <x:element name="tag" type="tns:nonEmptyString" maxOccurs="unbounded"/>
        </x:sequence>
        <x:attribute name="readonly" type="x:boolean" default="false"/>
    </x:complexType>

</x:schema>
